# Object Oriented Programming

In [2]:
from datetime import date, datetime, time
import pytz
import numpy as np
import pandas as pd
import locale

## Vocabulary

### object vs class
- object: data, instance

Example: 
- 'mercredi' is a text (str)
- [1,2,3] is a list (list[int])

- class: model, template, definition

Example: 
- int, bool, float (since python 3.0)
- str, list, tuple, set, dict, range

In [5]:
# 2 objects (instances) of class int
x = 123
y = 456

In [6]:
z = 3+4j
z

(3+4j)

In [7]:
type(z)

complex

In [8]:
print(isinstance(x, int))
print(isinstance(x, complex))
print(isinstance(x, object))

print(isinstance(z, int))
print(isinstance(z, complex))
print(isinstance(z, object))

True
False
True
False
True
True

## Methods
specific function of a class

In [10]:
city = 'Toulouse'
# call 'upper' method of class 'str'
print(city.upper())

TOULOUSE

In [11]:
city.upper?

Signature: city.upper()
Docstring: Return a copy of the string converted to uppercase.
Type:      builtin_function_or_method

In [12]:
str.upper?

Signature: str.upper(self, /)
Docstring: Return a copy of the string converted to uppercase.
Type:      method_descriptor

In [13]:
# list methods: 'append', 'extend'
numbers = [1, 2, 3]
numbers.append(4)
numbers.extend([7, 9, 100])
numbers

[1, 2, 3, 4, 7, 9, 100]

In [14]:
print(numbers.index(7))

numbers_t = tuple(numbers)
print(numbers_t.index(7))
# numbers_t.append(7) # tuple has no method 'append'

4
4

## attributes
attribute: property, field, ...

In [16]:
# date() is a 'constructor' function
birthdate = date(1965,7,3)
print(birthdate.year, birthdate.month, birthdate.day)
print(birthdate)
birthdate

1965 7 3
1965-07-03

datetime.date(1965, 7, 3)

In [17]:
birthdate.strftime('%d/%m/%Y')

'03/07/1965'

In [18]:
type(birthdate)

datetime.date

![carte timezones](https://upload.wikimedia.org/wikipedia/commons/8/88/World_Time_Zones_Map.png)

In [20]:
dt1 = datetime(2024, 2, 29, 12, 30)
print(dt1)
dt1

2024-02-29 12:30:00

datetime.datetime(2024, 2, 29, 12, 30)

In [21]:
dt1.tzinfo is None

True

In [22]:
# 'now' is a class method
dt2 = datetime.now()
dt2

datetime.datetime(2024, 12, 5, 9, 4, 48, 34605)

In [23]:
[ tz for tz in pytz.all_timezones if 'tahiti' in tz.lower() ]

['Pacific/Tahiti']

In [24]:
timezones = ['Europe/Paris', 'Pacific/Tahiti', 'America/Martinique']
for tz in timezones:
    dt = datetime.now(tz=pytz.timezone(tz))
    print(f"* {tz}:")
    print(f"\t- {dt}")
    print(f"\t- {dt.year}, {dt.month}, {dt.day}, {dt.hour}, {dt.minute}, {dt.second}, {dt.microsecond}, {dt.tzinfo}")
    print(f"\t- {dt.date()}")
    print(f"\t- {dt.time()}")
    print("\t-", dt.strftime('%d/%m/%Y %H:%M:%S (%Z)'))
    print(f"\t- {dt:%A %d %B %Y %H:%M:%S (%Z)}")

* Europe/Paris:
	- 2024-12-05 09:04:48.212689+01:00
	- 2024, 12, 5, 9, 4, 48, 212689, Europe/Paris
	- 2024-12-05
	- 09:04:48.212689
	- 05/12/2024 09:04:48 (CET)
	- Thursday 05 December 2024 09:04:48 (CET)
* Pacific/Tahiti:
	- 2024-12-04 22:04:48.218917-10:00
	- 2024, 12, 4, 22, 4, 48, 218917, Pacific/Tahiti
	- 2024-12-04
	- 22:04:48.218917
	- 04/12/2024 22:04:48 (-10)
	- Wednesday 04 December 2024 22:04:48 (-10)
* America/Martinique:
	- 2024-12-05 04:04:48.220660-04:00
	- 2024, 12, 5, 4, 4, 48, 220660, America/Martinique
	- 2024-12-05
	- 04:04:48.220660
	- 05/12/2024 04:04:48 (AST)
	- Thursday 05 December 2024 04:04:48 (AST)

**NB** date and time formats:
https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [26]:
locale.getlocale()

('fr_FR', 'cp1252')

In [27]:
locale.getlocale(locale.LC_TIME)

(None, None)

In [28]:
for lc in ('fr_FR', 'es_ES', 'sv_SE'):
    locale.setlocale(locale.LC_ALL, lc)
    print(f"{dt:%A %d %B %Y %H:%M:%S (%Z)}")

jeudi 05 décembre 2024 04:04:48 (AST)
jueves 05 diciembre 2024 04:04:48 (AST)
torsdag 05 december 2024 04:04:48 (AST)

In [29]:
locale.setlocale(locale.LC_ALL, 'fr_FR')

'fr_FR'

In [30]:
words_fr = ['été', 'étude', 'étage', 'Cœur', 'cobra', 'corde', 'garçon', 'garbure', 'garde', 'Zèbre']
words_fr.sort() # inplace sort
words_fr

['Cœur',
 'Zèbre',
 'cobra',
 'corde',
 'garbure',
 'garde',
 'garçon',
 'étage',
 'étude',
 'été']

In [31]:
words_fr.sort(key=locale.strxfrm)
words_fr

['cobra',
 'Cœur',
 'corde',
 'étage',
 'été',
 'étude',
 'garbure',
 'garçon',
 'garde',
 'Zèbre']

In [32]:
words_es = ['mañana', 'mano', 'matador']
words_es.sort()
print(words_es)
locale.setlocale(locale.LC_ALL, 'fr_FR')
words_es.sort(key=locale.strxfrm)
print(words_es)
locale.setlocale(locale.LC_ALL, 'es_ES')
words_es.sort(key=locale.strxfrm)
print(words_es)

['mano', 'matador', 'mañana']
['mañana', 'mano', 'matador']
['mano', 'mañana', 'matador']

In [33]:
"L'Haÿ-les-Roses".upper()

"L'HAŸ-LES-ROSES"

## Pandas

In [35]:
df_cities = pd.read_csv(
    'data/cities.csv', 
    encoding='UTF-8', 
    dtype={
        'zip_code': 'str'
    }
)
df_cities

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
0,25620,ville du pont,25650,ville du pont,46.999873,6.498147,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
1,25624,villers grelot,25640,villers grelot,47.361512,6.235167,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
2,25615,villars les blamont,25310,villars les blamont,47.368384,6.871415,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
3,25619,les villedieu,25240,les villedieu,46.713906,6.265831,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
4,25622,villers buzon,25170,villers buzon,47.228558,5.852187,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
...,...,...,...,...,...,...,...,...,...,...
39140,98829,thio,98829,thio,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39141,98831,voh,98833,voh,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39142,98832,yate,98834,yate,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39143,98612,sigave,98620,sigave,-14.270411,-178.155263,wallis-et-futuna,986,wallis-et-futuna,Wallis-et-Futuna
39144,98613,uvea,98600,uvea,-13.281863,-176.161928,wallis-et-futuna,986,wallis-et-futuna,Wallis-et-Futuna

In [36]:
type(df_cities)

pandas.core.frame.DataFrame

In [37]:
df_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39145 entries, 0 to 39144
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   insee_code           39145 non-null  object
 1   city_code            39145 non-null  object
 2   zip_code             39145 non-null  object
 3   label                39145 non-null  object
 4   latitude             38934 non-null  float64
 5   longitude            38934 non-null  float64
 6   department_name      39145 non-null  object
 7   department_number    39145 non-null  object
 8   region_name          39145 non-null  object
 9   region_geojson_name  39145 non-null  object
dtypes: float64(2), object(8)
memory usage: 3.0+ MB

In [38]:
df_cities[df_cities.label.str.contains('foix')]

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
37285,09122,foix,09000,foix,42.965329,1.610242,ariège,09,occitanie,Occitanie

In [39]:
# column
df_cities.label

0              ville du pont
1             villers grelot
2        villars les blamont
3              les villedieu
4              villers buzon
                ...
39140                   thio
39141                    voh
39142                   yate
39143                 sigave
39144                   uvea
Name: label, Length: 39145, dtype: object

In [40]:
# another column
df_cities.zip_code

0        25650
1        25640
2        25310
3        25240
4        25170
         ...
39140    98829
39141    98833
39142    98834
39143    98620
39144    98600
Name: zip_code, Length: 39145, dtype: object

In [41]:
df_cities['zip_code']

0        25650
1        25640
2        25310
3        25240
4        25170
         ...
39140    98829
39141    98833
39142    98834
39143    98620
39144    98600
Name: zip_code, Length: 39145, dtype: object

In [42]:
df_cities[['zip_code', 'label']]

      zip_code                label
0        25650        ville du pont
1        25640       villers grelot
2        25310  villars les blamont
3        25240        les villedieu
4        25170        villers buzon
...        ...                  ...
39140    98829                 thio
39141    98833                  voh
39142    98834                 yate
39143    98620               sigave
39144    98600                 uvea

[39145 rows x 2 columns]

In [43]:
df_cities.label.str.upper()

0              VILLE DU PONT
1             VILLERS GRELOT
2        VILLARS LES BLAMONT
3              LES VILLEDIEU
4              VILLERS BUZON
                ...
39140                   THIO
39141                    VOH
39142                   YATE
39143                 SIGAVE
39144                   UVEA
Name: label, Length: 39145, dtype: object

In [44]:
df_cities.label.str.contains('fOiX', case=False)

0        False
1        False
2        False
3        False
4        False
         ...
39140    False
39141    False
39142    False
39143    False
39144    False
Name: label, Length: 39145, dtype: bool

In [45]:
df_cities[df_cities.label.str.contains('fOiX', case=False)]

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
37285,09122,foix,09000,foix,42.965329,1.610242,ariège,09,occitanie,Occitanie

In [46]:
# NB: use elementwise operators: & (and), | (or), ~ (not)
df_cities[
    (df_cities.longitude < -4.0)
    & (df_cities.region_name == 'bretagne')
]

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
13774,29010,bodilis,29400,bodilis,48.515320,-4.120073,finistère,29,bretagne,Bretagne
13776,29022,camaret sur mer,29570,camaret sur mer,48.268164,-4.586900,finistère,29,bretagne,Bretagne
13780,29040,le conquet,29217,le conquet,48.357026,-4.762265,finistère,29,bretagne,Bretagne
13783,29058,fouesnant,29170,fouesnant,47.872602,-4.016515,finistère,29,bretagne,Bretagne
13785,29060,gouesnach,29950,gouesnach,47.917205,-4.110906,finistère,29,bretagne,Bretagne
...,...,...,...,...,...,...,...,...,...,...
15113,29288,tregarantec,29260,tregarantec,48.549428,-4.289531,finistère,29,bretagne,Bretagne
15114,29292,treguennec,29720,treguennec,47.884821,-4.339132,finistère,29,bretagne,Bretagne
15116,29294,le trehou,29450,le trehou,48.393872,-4.129534,finistère,29,bretagne,Bretagne
15117,29298,treogat,29720,treogat,47.909598,-4.341089,finistère,29,bretagne,Bretagne
15118,29299,treouergat,29290,treouergat,48.494960,-4.601868,finistère,29,bretagne,Bretagne

In [47]:
df_cities.longitude < -4.0

0        False
1        False
2        False
3        False
4        False
         ...
39140    False
39141    False
39142    False
39143     True
39144     True
Name: longitude, Length: 39145, dtype: bool

In [48]:
df_cities[df_cities.longitude.isna()]

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
38931,98711,anaa,98786,hitianau,NaN,NaN,polynésie-française,987,polynésie-française,Polynésie française
38932,98712,arue,98701,arue,NaN,NaN,polynésie-française,987,polynésie-française,Polynésie française
38933,98713,arutua,98761,rautini,NaN,NaN,polynésie-française,987,polynésie-française,Polynésie française
38934,98713,arutua,98762,niutahi,NaN,NaN,polynésie-française,987,polynésie-française,Polynésie française
38935,98714,bora bora,98730,anau,NaN,NaN,polynésie-française,987,polynésie-française,Polynésie française
...,...,...,...,...,...,...,...,...,...,...
39138,98815,mare,98878,la roche,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39139,98822,poindimie,98822,poindimie,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39140,98829,thio,98829,thio,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39141,98831,voh,98833,voh,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39142,98832,yate,98834,yate,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie

In [49]:
df_cities[~df_cities.longitude.isna()]

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
0,25620,ville du pont,25650,ville du pont,46.999873,6.498147,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
1,25624,villers grelot,25640,villers grelot,47.361512,6.235167,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
2,25615,villars les blamont,25310,villars les blamont,47.368384,6.871415,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
3,25619,les villedieu,25240,les villedieu,46.713906,6.265831,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
4,25622,villers buzon,25170,villers buzon,47.228558,5.852187,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
...,...,...,...,...,...,...,...,...,...,...
38929,97613,m tsangamouji,97650,m tsangamouji,-12.751168,45.086393,mayotte,976,mayotte,Mayotte
38930,97614,ouangani,97670,ouangani,-12.837567,45.138321,mayotte,976,mayotte,Mayotte
39104,98901,ile de clipperton,98799,ile de clipperton,10.297389,-109.221264,polynésie-française,987,polynésie-française,Polynésie française
39143,98612,sigave,98620,sigave,-14.270411,-178.155263,wallis-et-futuna,986,wallis-et-futuna,Wallis-et-Futuna
39144,98613,uvea,98600,uvea,-13.281863,-176.161928,wallis-et-futuna,986,wallis-et-futuna,Wallis-et-Futuna

In [124]:
(df_cities.loc[(df_cities.department_number == '2A'), 'zip_code'].astype(int) < 20200).all()

True

In [120]:
(df_cities.loc[(df_cities.department_number == '2B'), 'zip_code'].astype(int) >= 20200).all()

True